.mainHeader{
    background: #161616;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.knotCategory{
    margin-top: 68px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category{
    background: #7c141b;
    padding: 15px 5px;
    font-size: 18px;
    text-align: left;
}
.knotCardCategory{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
@media  (max-width: 1200px){
    .knotCardCategory{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        
    }
  }
  
  @media  (max-width: 992px){
    .knotCategory{
        margin-top: 62px;
    }
    .knotCardCategory{
        display: grid;
        grid-template-columns: 100%;
    }
    .category{
        padding: 10px 5px;
        font-size: 16px;
    }
    .header{
        margin:0 4% ;
    }
  }

